<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hello there!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This thing you're seeing it's a mobile sample. <br>
      Here, I brought some concepts that i've been studying, and to be honest, I still. <br>
      So, here's the deal: Check the "Company Finder" bar, the magic is there.
    </ion-card-content>
  </ion-card>


</ion-content>